loguru
python-dotenv
pydantic
pydantic-settings
openai
tenacity
jinja2
supabase
tavily-python
requests
flask
flask-cors
fastapi
uvicorn
supabase
google-generativeai>=0.5.2
crewai
crewai-tools
langchain-openai
langchain-google-genai>=1.0.3
langchain-core
langchain-community
lark-oapi>=1.0.0
